# .github/workflows/build.yml
name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            binary_target: x86_64-unknown-linux-musl
          - os: windows-latest
            binary_target: x86_64-pc-windows-msvc
          - os: macos-latest
            binary_target: x86_64-apple-darwin
    steps:
    - name: Install musl tools
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install musl-tools
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install rust
      uses: actions-rs/toolchain@v1
      if: matrix.os != 'windows-latest'
      with:
        toolchain: stable
        profile: minimal
        override: true
    - name: Install rust windows msvc target
      if: matrix.os == 'windows-latest'
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable-x86_64-pc-windows-msvc
        profile: minimal
        override: true
    - name: Install cargo-make
      uses: actions-rs/cargo@v1
      with:
        command: install
        args: --debug cargo-make
    - name: Debug
      uses: actions-rs/cargo@v1
      with:
        command: make
        args: --env CARGO_MAKE_RELEASE_FLOW_TARGET=${{ matrix.binary_target }} --no-workspace print-env-flow
    - name: Build binaries
      uses: actions-rs/cargo@v1
      with:
        command: make
        args: --env CARGO_MAKE_RELEASE_FLOW_TARGET=${{ matrix.binary_target }} --no-workspace zip-release-ci-flow
    - name: Upload binaries
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: '*.zip'
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true